%h4 Mock SSO Login for Testing
= simple_form_for :wellpoint_user, url: "/saml/init", method: :post do |f|
  /#= hidden_field_tag 'SAMLRequest', params[:SAMLRequest]
  
  Select Environment
  %p= f.input :environment, collection: {"qa1.myfitorbit.com" => "myfitorbitqa", "fitorbit.dev" => "development"}, label: false, input_html: {value: '1'}
  / Select Wellpoint User
  / %p= f.input :id, collection: WellpointUser.all, label: false
  %p= f.submit "Login"


/ %div{ :style => "visibility:hidden;"}
/   = form_tag("/saml/auth") do
/     = hidden_field_tag("SAMLRequest", params[:SAMLRequest])
/     = submit_tag "Submit"

/ :javascript
/   $(document).ready(function(){
/     document.forms[0].submit();
/   })